section.about 
  .container
    +blockBox('What we do','Story about us','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, dicta blanditiis excepturi delectus asperiores voluptate non nisi facilis amet accusamus dolorum, rem porro, necessitatibus similique animi doloribus ducimus fugit iste.')
    .about-list
      +aboutItem({
        src: "../images/img-about1.png",
        title: "Super Team",
        icon: 'fa fa-users'
      })
      +aboutItem({
        title: "Super Team",
        src: "../images/img-about2.png",
        icon: 'fa fa-users'
      })
      +aboutItem({
        src: "../images/img-about3.png",
        title: "Super Team",
        icon: 'fa fa-users'
      })
      //- +aboutItem("../images/img-about2.png", "Super Team", 'fa fa-users')
      //- +aboutItem("../images/img-about3.png", "Super Team", 'fa fa-users')
      
