section.number 
  .container 
    .number-list 
      +numberItem({
        number: '42',
        text: 'Web design project'})
      +numberItem({
        number: '123',
        text: 'Happy client'})
      +numberItem({
        number: '15',
        text: 'Award winner'})
      +numberItem({
        number:'99',
        text:'Cup of cafe'})
      +numberItem({
        number:'24',
        text:'Members'})
      