section.service
  .container 
    +blockBox('We work with', 'Amazing services')
    .service-list
      +serviceItem('../images/img-service-icon1.png','Anh',"Photograpy ",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')
      +serviceItem('../images/img-service-icon2.png','Anh',"Web Design",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')
      +serviceItem('../images/img-service-icon3.png','Anh',"Creativity",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')
    .service-list
      +serviceItem('../images/img-service-icon4.png','Anh',"Seo",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')
      +serviceItem('../images/img-service-icon5.png','Anh',"Css/html",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')
      +serviceItem('../images/img-service-icon6.png','Anh',"Digito",'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sapiente libero atque consectetur adipisicing elit.')

