section.team 
  .container 
    +blockBox('Who we are','Meet our team','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, ipsam. Iure omnis facilis, magni dolore architecto eaque tempore error inventore fugiat perspiciatis? Sed ipsam a laudantium nemo sit aut facilis!')
    .team-list 
      +teamItem("../images/img-team1.png","Matthew Dix","Graphic Design")
      +teamItem("../images/img-team2.png","Christopher Campbell","Branding/UX design")
      +teamItem("../images/img-team3.png","Michael Fertig ","Developer")
section.brand 
  .container 
    img(src="../images/img-logos.png", alt="")   