section.quote
  .container 
    .quote-container 
      +quocItem('../images/img-quote-avatar.png',true)
      +quocItem('../images/img-quote-avatar.png',true)
      +quocItem('../images/img-quote-avatar.png',true)
      
