section.wedo 
  .container 
    +blockBox('Service','What we do','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis at provident aliquam, eveniet, recusandae aut harum officia ducimus nulla soluta enim ratione')
    .wedo-container 
      img.wedo-image(src="../images/img-wedo.png")
      .wedo-content 
        +wedoItem("../images/img-wedo-icon1.png",'Photograpy ','fal fa-angle-down','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! NemoEum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.enim et! Nemo, sit accusantium alias officiis enim et! NemoEum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.enim et! Nemo, sit','is-active')
        +wedoItem("../images/img-wedo-icon2.png",'Creativity','fal fa-angle-down','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.Eum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sitEum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit')
        +wedoItem("../images/img-wedo-icon3.png",'Web design','fal fa-angle-down','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum aspernatur blanditiis ullam ex mollitia tempore eius doloribus corporis necessitatibus porro sit consequatur expedita, accusantium alias officiis enim et! Nemo, sit.')
        
